@mixin after_line {
    &:after {
        content: "";
        width: 1px;
        height: 21px;
        float: right;
        margin-left: 10px;
        background: #fff;
        opacity: 0.2;
    }
}

@mixin divider {
    &:after {
        margin-top: 20px;
        display: block;
        margin-left: 495px;
        content: "";
        width: 148px;
        height: 1px;
        background: $main-color;
        }
}

@mixin circle {
    &:before {
        position: absolute;
        content: "";
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        top: -18px;
        left: -26px;
    }
}