@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate.min';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'base/variables';
@import 'base/mixins';
@import 'base/media';

@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/header';