.promo {
    min-height: 760px;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    padding: 23px 0 82px 0;
    &__wrapper {
        margin-top: 9px;
        text-align: center;
        line-height: normal;
    }
    &__descr {
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
    }
    &__header {
        margin-top: 26px;
        font-family: 'Roboto Condensed';
        font-size: 72px;
        font-weight: 700;
        color: $main-color;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 9px;
        font-family: 'Roboto Condensed';
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 38px;
    }
    &__divider {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 809px;
        align-items: center;
    }
    &__strip {
        content: "";
        width: 390px;
        height: 1px;
        background: #ffffff;
    }
    &__circle {
        content: "";
        width: 10px;
        height: 10px;
        background: #ffffff;
        border-radius: 100%;
    }
    &__icons {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        flex-direction: column;
        width: 262px;
        min-height: 160px;
    }
    &__icon-text {
        margin-top: 19px;
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
    }

}