.promo {
    min-height: 680px;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    padding: 23px 0 82px 0;
    &__wrapper {
        margin-top: 9px;
        text-align: center;
        line-height: normal;
    }
    &__descr {
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
    }
    &__header {
        margin-top: 26px;
        font-family: 'Roboto Condensed';
        font-size: 72px;
        font-weight: 700;
        color: $main-color;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 9px;
        font-family: 'Roboto Condensed';
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }
}